header {
    background: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    height: 80vh;
}

nav {
    width: 100vw;
    height: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.logo {
    width: 20vw;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul > div > li {
    font-family: 'Kaushan Script', cursive;
    color: #fed136;
    font-size: 1.5em;
}

.elements {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.hamburger {
    display: flex;
    align-items: center;
    background-color: #fed136;
    border-radius: 3px;
    height: 35px;
    display: none;
}

.menuham {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1em;
}

img {
    color: white;
    height: 15px;
    width: 15px;
}



.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
    width: 100vw;
    height: 30vh;
    top: 0px;
    background: #212529;
    position: absolute;
    margin-top: 4em;
    
}

.drop-down-menu {
    display: none;
}

.drop-down-menu-open {
    animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
    animation: closedMenu .5s forwards linear;
}

.drop-down-side, .drop-down-side-open, .drop-down-side-closed {
    width: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.drop-down-side {
    display: none;
}

.drop-down-side-open {
    animation: openSideMenu .5s forwards linear
}

.drop-down-side-closed {
    animation: closeSideMenu .5s forwards linear
}

@keyframes closedMenu {
    from {
        height: 30vh;
    }
    to {
        height: 0vh;
    }
}

@keyframes openMenu {
    from {
        height: 0vh;
    }
    to {
        height: 30vh;
    }
}

@keyframes closeSideMenu {
    from {
        height: 10vh;
    }
    to {
        height: 0vh
    }
}

@keyframes openSideMenu {
    from {
        height: 0vh
    }
    tp {
        height: 10vh;
    }
}

@media(max-width: 1200px) {
    nav {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 992px) {
    nav {
        background-color: #212529;
    }
    .elements {
        display: none;
    }

    .hamburger {
        display: block;
    }

    
}