body {
    background: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    height: 80vh;
}

nav {
    width: 100vw;
    height: 10vh;
    padding-top: 2em;
    
}

.logo {
    width: 20vw;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobile {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

ul > div > li {
    font-family: 'Kaushan Script', cursive;
    color: #fed136;
    font-size: 1.5em;
}

.elements {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.hamburger {
    display: flex;
    align-items: center;
    background-color: #fed136;
    border-radius: 3px;
    height: 35px;
    display: none;
}

.menuham {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1em;
}

img {
    color: white;
    height: 15px;
    width: 15px;
}



.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
    width: 100vw;
    height: 30vh;
    top: 0px;
    background: #212529;
    position: absolute;
    margin-top: 4em;
    z-index: -10;
}

.drop-down-menu {
    display: none;
}

.drop-down-menu-open {
    animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
    animation: closedMenu .5s forwards linear;
}


.header-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    margin-top: 2em;
}

.header-main h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    flex-wrap: wrap;
    text-align: center;
}

.header-main h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.header-main button {
    background-color: #fed136;
    border: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px; 
    border-radius: 5px;
    padding: 1em;
}

@keyframes closedMenu {
    from {
        height: 30vh;
    }
    to {
        height: 0vh;
    }
}

@keyframes openMenu {
    from {
        height: 0vh;
    }
    to {
        height: 30vh;
    }
}

@keyframes closeSideMenu {
    from {
        height: 10vh;
    }
    to {
        height: 0vh
    }
}

@keyframes openSideMenu {
    from {
        height: 0vh
    }
    tp {
        height: 10vh;
    }
}

@media(max-width: 1200px) {
    nav {
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 992px) {
    nav {
        background-color: #212529;
    }
    .elements {
        display: none;
    }

    .hamburger {
        display: block;
    }

    
}